* {
  box-sizing:border-box;
  margin:0;
  display: none;
}
html {
  height:100%;
  font-family:andale mono, monospace;
}
body {
  height:100%;
  display: grid;
  grid-template-rows: 20% 60% 20%;
}
#banner {
  grid-row-start:1;
  display:flex;
}
#page-container {
  grid-row-start:2;
  display:flex;
  border: grey solid 0.5px;
}
#footer {
  grid-row-start: 3;
  display:flex;
}
.login-element,
.home-element,
.mix-element,
.play-element,
.loading-element {
  display: none;
}
.page {
  margin:auto;
}
.button {
  background-color: white; /* Green */
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
