.login-element,
.home-element,
.mix-element,
.play-element,
.loading-element {
  display: none;
}
* {
  box-sizing:border-box;
  margin:0;
}
html {
  height:100%;
  font-family:Michroma;
}
body {
  height:100%;
  display: grid;
  grid-template-rows: 20% 60% 20%;
}
#banner {
  grid-row-start:1;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
#page-container {
  grid-row-start:2;
  display:flex;
  border: grey solid 0.5px;
}
#footer {
  grid-row-start: 3;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}
.page {
  margin:auto;
}
.button {
  background-color: white; /* Green */
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family:Michroma;
}

.button:hover {
  background-color: grey;
}

.button:active {
  background-color: lightgrey;
}
